*{
    margin: 0;
padding: 0;
box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
/* Navbar*/
.navbar{
display: flex;
justify-content: center;
align-items: center;
background-color: lightpink;
position: sticky;
top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: saddlebrown;
    padding: 8px 25px;

}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/*Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.608);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: rgba(246, 255, 240, 0.899);
}
#home::before{
    content:  "";
position: absolute;
top: 0;
right: 0;
background: url('img.jpg') no-repeat center center/cover;
height: 900px;
width: 100%;
z-index: -2;
opacity: inherit;
}

.main{
    display: flex;
    flex-direction: column;

/* border: 1px solid white; */
align-items: center;
position: absolute;
top: 40%;
right: 10%;

}
.headings{
    font-family: century;
    font-size: 2rem;
    text-align: center;
    margin: 40px ;
}


/* Introduction */
#introduction{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    background-color: orange;

}
#pic{
    display: flex;
    font-size: larger;
    
}
#pic img {
    width: 570px;
    height: 400;
    background-color: black;

}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
    background-color:aqua;

}
#intro h2{
    font-size: 2 rem;
    margin-bottom: 20px;
}

/* portfolio section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color:orange;

}
#gallery img{
    width: 900;
    height: 300;
}

/* contact section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;

}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;

}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#message{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
}
#send{
    width: 10%;
    padding: 10px;
    margin: 40px;
    border: none;

}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 15px white;
}